/* styles.module.css */

.sent {
	align-self: flex-end;
	color: white;
	background: var(--sentColor);
}

.sent:before {
	right: -7px;
	background-color: var(--sentColor);
	border-bottom-left-radius: 16px 14px;
}

.sent:after {
	right: -26px;
	border-bottom-left-radius: 10px;
}

.received {
	align-self: flex-start;
	color: black;
	background: var(--receiveColor);
}

.received:before {
	left: -7px;
	background-color: var(--receiveColor);
	border-bottom-right-radius: 16px 14px;
}

.received:after {
	left: -26px;
	border-bottom-right-radius: 10px;
}
